@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Insoconsoleata:wght@200..900&display=swap');

body {
    font-family: 'Badscripts', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
  }
  /* Apply fonts to specific elements */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica', sans-serif;
}

p, a, li {
  font-family: 'Inconsolata', sans-serif;
}

  /* Navbar */
  /* .navbar {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  } */
 
  
  /* .navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
  } */
.herosection{
    background-image: url('./images/imageidea5.jpg');
    /*background-image:linear-gradient(rgba(231, 207, 207, 0.5),rgba(221, 212, 212, 0.7)), url('../images/khs3.jpeg');  */  
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;     /*if the image you are using is a small one and you want it to repeat */
    background-position: center;      /*if the image you are using is a small one and you want it to repeat */
    background-blend-mode: overlay;   /*to make the text blend with the background */
    background-attachment: local; 
    position: relative; 
    z-index: 1;                       /*to make the background same in all screen */
}
main {
    display:flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    min-height: 75vh;

}
.margin-add{
  margin-top: 8rem; /* Adjust the value as needed */
  
}
.cardhero1{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}
.signupform{
    border:0.5px solid black;
    border-radius: 5px;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  
}
.dform{
    display: flex;
    flex-direction: column; 
      
}
.signupforminner{
    display: flex;
    gap:3rem; 
      
}
.sideone{
    display: flex;
    flex-direction: column;
    
  
}
.sidetwo{
    display: flex;
    flex-direction: column;
    
}
.sideone input{
        width: 100%;
        margin-bottom: 20px;
        height: 30px;
        text-align: center;
        border-radius: 5px;
        border:0.5px solid black;
}
.sidetwo input{
        width: 100%;
        margin-bottom: 20px;
        height: 30px;
        text-align: center;
        border-radius: 5px;
        border:0.5px solid black;
}
label {
  display: block;
  margin-bottom: 10px;
}
input[type="radio"] {
  margin-right: 10px;
}

.hidden {
  display: none !important;
  }

.homebutton{
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;  
}
.homebutton:hover{
  background-color: #0056b3;
}
.homesiguploginsdiv{
  display: flex;
  gap: 1rem;
}
.welcometext{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
} 
#dashboard{
  display: flex;
  align-items:start;
  justify-content:space-around;
  width: 50%;
  border-radius: 10px;
  
}
.dashboard-right{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.dashboard-image{
  width:50px;
  height:50px;
  border-radius: 50%;
}
.dashboard-mid{
  display: flex;
  flex-direction: column;
}

.dashboard-left{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* transparentButtons */
.transparentBtn {
  padding: 0.5rem 0.7rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.transparentBtn:hover {
  background-color: #ddd;
}
.wallet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wallet-content {
  background: white;
  padding: 2rem;
  border-radius: 5px;
  width: 60%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
 
/* Cart Items */
.walletinput {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}
.sidetwobtn{
  margin: 20px 0px;
}
 .sidetwobtn input{
  max-width: 60px;
  height:25px;
  border:0.5px solid #ddd;
  border-radius: 5px;
}

@media (hover:hover){
  .articlebtn:hover{
      opacity: 3;
      box-shadow: -1px 1px 50px rgb(21, 114, 66);
      transition: ease-in-out .2s;
  }
}
.footer a{
  display:block;
  text-decoration: none;
  color:rgb(6, 148, 61)
}